body {
    margin: 0;
    padding: 0;
    background-color: #0477bd;
}

.home nav {
    padding-top: 3rem;
    margin: 0 auto;
    height: 10vh;
    width: 80vw;
    background-color: #0477bd;
}

.home nav a {
    display: block;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.home nav a:hover {
    text-decoration: underline;
}

.gridGallery .ReactGridGallery_tile {
    max-width: 45vw;
}

/* styles.css */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-gap: 3px;
    padding: 3px;
}

/* selector for .grid and .no-border */

.grid.no-border {
    grid-gap: 0;
    padding: 0;
}

.grid .img-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    /* This gives a 1:1 aspect ratio. */
}

.grid img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* This ensures the image covers the area without distorting the aspect ratio. */
}


/* .grid img:hover {
    transform: scale(1.05);
} */